<div class="row">
  <div class="col-md px-0 px-sm-3 pr-md-0">
    <app-player (stateChange)="handlePlayerEvent($event)"
                [video]="playlist.length !== 0 ? playlist[selected] : undefined">
    </app-player>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-3 px-0 px-sm-3 pl-md-0">
    <app-playlist (selectedChange)="handleSelectedChange($event)" (videoAdd)="handleVideoAdd($event)"
                  (videoRemove)="handleVideoRemove($event)" [selected]="selected"
                  [videos]="playlist"></app-playlist>
  </div>
</div>
