<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile *ngFor="let video of videos; let i = index" [class.selected]="i === selected">
    <img src="https://i.ytimg.com/vi/{{video.id}}/hqdefault.jpg" width=168 />
    <a href="https://youtu.be/{{video.id}}">{{ video.title }}</a>
    <button mat-flat-button color="primary" *ngIf="i !== selected" (click)="playVideo(i)">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-flat-button color="warn" (click)="removeVideo(i)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
<form>
  <mat-form-field>
    <input matInput placeholder="Youtube URL or video ID" #newVideo>
  </mat-form-field>
  <button mat-flat-button (click)="addVideo(newVideo.value)">Add</button>
</form>